.l_layout_outer {
  /* 年或班级排课 */
  /*排课操作*/
  /* 虚拟班排课第一步 */
}
.l_layout_outer .clearfloat:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
.l_layout_outer .clearfloat {
  zoom: 1;
}
.l_layout_outer .blue_1 {
  color: #1997e4;
}
.l_layout_outer .hasNoData {
  text-align: center;
  font-size: 15px;
  padding-bottom: 22px;
}
.l_layout_outer .l_search_header0 .el-form-item {
  margin-bottom: 0px;
}
.l_layout_outer .class-searchs {
  padding-right: 0px!important;
}
.l_layout_outer #search_form0 {
  text-align: right;
}
.l_layout_outer .l_graCla_list {
  padding: 30px 30px 5px 30px;
  border-top: 2px solid #dbdbdb;
  box-sizing: border-box;
  background: #fff;
  overflow: hidden;
}
.l_layout_outer .l_graCla_list > ul {
  margin-right: -2.3%;
}
.l_layout_outer .l_graCla_list .li_list {
  float: left;
  border: 1px solid #dbdbdb;
  width: 12.3%;
  margin-bottom: 2%;
  margin-right: 1.8%;
}
.l_layout_outer .l_graCla_list .top-block {
  background: #f4fbfe;
  padding: 13px 16px;
  cursor: default;
  transition: all .2s linear;
}
.l_layout_outer .l_graCla_list .top-block:hover {
  background: #1997e4;
}
.l_layout_outer .l_graCla_list .top-block:hover .t1,
.l_layout_outer .l_graCla_list .top-block:hover .t2,
.l_layout_outer .l_graCla_list .top-block:hover .t3,
.l_layout_outer .l_graCla_list .top-block:hover .t2 span,
.l_layout_outer .l_graCla_list .top-block:hover .t3 span {
  color: #fff;
}
.l_layout_outer .l_graCla_list .row {
  padding: 5px 0px;
  font-size: 14px;
}
.l_layout_outer .l_graCla_list .bottom-block {
  padding: 9px 5px;
}
.l_layout_outer .l_graCla_list .bottom-block .button-group {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.l_layout_outer .l_graCla_list .bottom-block .button-group .el-button {
  color: #999999;
  padding: 3px 0px;
  width: 56px;
}
.l_layout_outer .l_schedule_outer {
  background: #fff;
}
.l_layout_outer .l_schedule_outer .sche_list_header {
  padding: 27px 22px 21px 22px;
  border-bottom: 2px solid #1997e4;
}
.l_layout_outer .l_schedule_outer .sche_list_header li {
  float: left;
  font-size: 18px;
  color: #dbdbdb;
  padding-left: 19px;
  position: relative;
  margin-right: 20px;
  cursor: pointer;
}
.l_layout_outer .l_schedule_outer .sche_list_header li.active {
  color: #1997e4;
}
.l_layout_outer .l_schedule_outer .sche_list_header li:before {
  content: '';
  width: 10px;
  height: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  background: #dbdbdb;
  position: absolute;
  left: 0px;
  top: 50%;
  -webkit-transform: translate(0px, -50%);
  -moz-transform: translate(0px, -50%);
  -ms-transform: translate(0px, -50%);
  transform: translate(0px, -50%);
}
.l_layout_outer .l_schedule_outer .sche_list_header li.active:before {
  background: #1997e4;
}
.l_layout_outer .l_schedule_outer .l_search_outer {
  padding: 0px 18px;
}
.l_layout_outer .l_schedule_outer .l_search_outer .el-form-item {
  margin-bottom: 0px;
}
.l_layout_outer .l_schedule_outer .l_search_outer .el-form-item .middle-pad0 {
  padding: 0.0px 18px;
  font-size: 14px;
  color: #48576a;
}
.l_layout_outer .l_schedule_outer .l_search_outer #search_form1 {
  padding: 15px 0px;
}
.l_layout_outer .l_schedule_outer .l_search_outer #search_form1 .el-form-item:nth-child(1) {
  margin-right: 21px;
}
.l_layout_outer .l_schedule_outer .sche_table {
  padding: 0px 20px;
}
.l_layout_outer .l_schedule_outer .sche_table.virStep2Table {
  padding: 0px;
}
.l_layout_outer .l_schedule_outer .sche_table.virStep2Table .el-table__row .el-table_1_column_2 .cell {
  padding: 5px;
}
.l_layout_outer .l_schedule_outer .sche_table.createCheckbox .el-table__row .cell {
  padding: 0px;
  text-align: center;
}
.l_layout_outer .l_schedule_outer .sche_table.createCheckbox .el-table__row .cell .el-checkbox,
.l_layout_outer .l_schedule_outer .sche_table.createCheckbox .el-table__row .cell .el-checkbox__inner,
.l_layout_outer .l_schedule_outer .sche_table.createCheckbox .el-table__row .cell .el-checkbox__input {
  display: block;
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 0px;
}
.l_layout_outer .l_schedule_outer .sche_table.createCheckbox .el-table__row .cell .el-checkbox:after,
.l_layout_outer .l_schedule_outer .sche_table.createCheckbox .el-table__row .cell .el-checkbox__inner:after,
.l_layout_outer .l_schedule_outer .sche_table.createCheckbox .el-table__row .cell .el-checkbox__input:after {
  border: none;
}
.l_layout_outer .l_schedule_outer .sche_table.createCheckbox .el-table__row .cell .el-checkbox__input.is-disabled.is-checked .el-checkbox__inner {
  background: #1997e4;
}
.l_layout_outer .l_schedule_outer .sche_table.createCheckbox .el-table__row .cell .el-checkbox__input.is-disabled .el-checkbox__inner {
  background: #fff;
}
.l_layout_outer .l_schedule_outer .sche_table .el-table__row td .cell > div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
.l_layout_outer .l_schedule_outer .sche_table .el-table__header-wrapper colgroup col:nth-child(1),
.l_layout_outer .l_schedule_outer .sche_table .el-table__body-wrapper colgroup col:nth-child(1) {
  width: 60px;
}
.l_layout_outer .l_schedule_outer .sche_table .el-table__header-wrapper colgroup col:nth-child(2),
.l_layout_outer .l_schedule_outer .sche_table .el-table__body-wrapper colgroup col:nth-child(2) {
  min-width: 110px;
}
.l_layout_outer .l_schedule_outer .sche_table .el-table__header-wrapper .el-select .el-input__inner,
.l_layout_outer .l_schedule_outer .sche_table .el-table__body-wrapper .el-select .el-input__inner {
  height: 25px;
}
.l_layout_outer .l_schedule_outer .l_save {
  padding: 10px 20px 22px 20px;
}
.l_layout_outer .l_schedule_outer .l_save.virt_btn2 button:nth-child(2) {
  background: #fff;
  color: #1f2d3d;
}
.l_layout_outer .l_schedule_outer .l_save.virt_btn2 button:nth-child(2):hover {
  color: #1d90e6;
  border-color: #1d90e6;
}
.l_layout_outer .l_schedule_outer .l_save button:nth-child(2) {
  background: #e5e5e5;
  color: #5b5b5b;
}
.l_layout_outer .l_schedule_outer .l_save button:nth-child(2):hover {
  border-color: #e5e5e5;
}
.l_layout_outer .l_schedule_outer .sus_header {
  padding: 27px 22px 21px 22px;
}
.l_layout_outer .l_schedule_outer .sus_header .el-form-item {
  margin-bottom: 0px;
}
.l_layout_outer .l_schedule_outer .sus_table .el-table__row .cell {
  margin: 10px 0px;
  text-align: center;
  max-height: 47px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.l_layout_outer .l_schedule_outer .sus_table .el-table_1_column_3 .cell {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.l_layout_outer .l_schedule_outer .sus_table .el-table__header-wrapper .cell {
  text-align: center;
}
.l_layout_outer .l_check_outer .check_header {
  padding-top: 35px;
  padding-left: 23px;
}
.l_layout_outer .l_check_outer .check_header div {
  display: inline-block;
}
.l_layout_outer .l_check_outer .check_header .term_name {
  margin-right: 30px;
}
.l_layout_outer .l_check_outer .check_handle {
  padding: 25px 23px 10px 23px;
  text-align: right;
}
.l_layout_outer .l_check_outer .check_handle button {
  margin-right: 8px;
}
.l_layout_outer .l_check_outer .check_handle button:last-child {
  margin-right: 0px;
}
.l_layout_outer .l_grade_table .l_graCla_list .bottom-block .button-group .el-button:nth-child(1) {
  width: 80px;
}
.l_layout_outer .l_checkdetail_outer .l_checkdetail {
  margin-bottom: 0px!important;
}
.l_layout_outer .l_checkdetail_outer .l_checkdetail .l_grade_detail_title {
  margin-top: 25px;
}
.l_layout_outer .l_checkdetail_outer .l_checkdetail .l_grade_detail_title {
  padding-left: 23px;
}
.l_layout_outer .l_checkdetail_outer .l_checkdetail .l_grade_detail_title ul li {
  float: left;
  font-size: 18px;
  color: #1997e4;
  padding-left: 19px;
  position: relative;
}
.l_layout_outer .l_checkdetail_outer .l_checkdetail .l_grade_detail_title ul li:before {
  content: '';
  width: 10px;
  height: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  background: #1997e4;
  position: absolute;
  left: 0px;
  top: 50%;
  -webkit-transform: translate(0px, -50%);
  -moz-transform: translate(0px, -50%);
  -ms-transform: translate(0px, -50%);
  transform: translate(0px, -50%);
}
.l_layout_outer .l_checkdetail_outer .l_checkdetail .l_grade_detail_handle {
  text-align: right;
  padding: 15px 0px;
}
.l_layout_outer .l_checkdetail_outer .l_checkdetail .l_grade_detail_handle button {
  margin-right: 8px;
}
.l_layout_outer .l_checkdetail_outer .l_checkdetail .l_grade_detail_handle button:last-child {
  margin-right: 0px;
}
.l_layout_outer .l_virtual_wraper {
  padding: 43px 82px 366px 82px;
}
.l_layout_outer .l_virtual_wraper .form_group {
  padding: 13px 0px;
}
.l_layout_outer .l_virtual_wraper .form_group ul li {
  float: left;
  font-size: 12px;
  color: #5b5b5b;
  vertical-align: middle;
  height: 36px;
  line-height: 36px;
}
.l_layout_outer .l_virtual_wraper .form_group ul li textarea {
  min-height: 140px;
}
.l_layout_outer .l_virtual_wraper .form_group ul li.header {
  width: 140px;
  text-align: right;
  margin-right: 15px;
}
.l_layout_outer .l_virtual_wraper .form_group ul li .el-button {
  padding: 10px 28px;
}
.l_layout_outer .l_virtual_wraper .form_group ul li .el-form-item {
  margin-bottom: 0px;
}
.l_layout_outer .l_virtual_wraper .form_group ul li .el-form-item .el-form-item__label {
  background: #1997e4;
  color: #fff;
  padding: 11px;
  vertical-align: middle;
}
.l_layout_outer .l_virtual_wraper .form_group ul li .el-form-item .el-form-item__content {
  vertical-align: middle;
  width: 100px;
}
.l_layout_outer .l_virtual_wraper .form_group ul li .el-form-item .el-input__inner {
  border-radius: 0px;
}
.l_layout_outer .l_virtual_wraper .form_group .inline-block {
  display: inline-block;
}
.l_layout_outer .l_virtual_wraper .form_group .middle_zhi {
  padding: 0px 16px;
}
@media screen and (max-width: 1618px) {
  .l_layout_outer .l_graCla_list .li_list {
    width: 17.9%;
  }
}
@media screen and (max-width: 1800px) {
  .l_layout_outer .l_schedule_outer .sche_table .el-table__row td .cell > div {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
