.clear:after {
  content: '';
  display: table;
  clear: both;
  height: 0;
  visibility: hidden;
}
.lf {
  float: left;
}
.rt {
  float: right;
}
a {
  text-decoration: none;
}
.kd-z-main{
 .warning{
   color: #F7BA2A;
 }
  .blue{
    color:#20A0FF;
  }
  .danger{
    color:#FF4949;
  }
  .att-main{
    //考勤管理
    width: 100%;
    .att-name{
      height: 36px;
      line-height: 36px;
    }
    .att-checkbox{
      margin-top: 20px;
      .el-radio__label{
        font-size: 12px;
      }
    }
    //权限管理
    .authority_checkbox{
      label{
        margin-top: 10px;
        margin-left: 0;
        margin-right: 15px;
      }
    }
  }
}
